html{


    background-color: #222}

body{font-family: 'Cairo', sans-serif;}

/*! Stili scritte */

a{
    text-decoration: none;

}

h1,h2,h3,h4,h5, p{color: black; padding-bottom: 20px; line-height: 1.4;}

.titoli{font-size: 60px; color: white; font-weight: bold;}
.sottotitoli{font-size: 30px; color: white; font-weight: lighter;}
.paragrafi{font-size: 20px; color: white;}

.giallo{color: #FDE601}
.bianco{color: white}
.grigio{color: gray}

.mt{margin-top: 10px}
.mt1{margin-top: 30px}
.mt2{margin-top: 100px}
.mt3{margin-top: 250px}

.centroTesto{text-align: center;}


@media screen and (max-width: 1080px) {

    .titoli{font-size: 40px; color: white; font-weight: bold;}

}

/*! header */

.header{
    background: #2a2a2e;
    max-height: 65px;
    position: relative;
    z-index: 100;
}

.contenuto_header{
    width: 60%;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    align-items: center;
    display: block;
}

.menu{
    width: 100%;
    text-align: right;
}

.menu li{
    display: inline-block;
    color: gray;
}

.menu li a{
    padding: 15px;
    display: block;}

.menuBurger{
    display: none;
}

/*! Header smartphone */

@media screen and (max-width: 1080px) {

    .bacheca .sottotitoli{
        font-size: 70px;
    }

    .bacheca .paragrafi{
        font-size: 30px;
    }

    .menuBurger{
        display: unset;
    }

    .header{
        min-height:6vh;
        background-color: transparent;
    }

    .logo{
        position: absolute;
        left: 80px;
        top: 55px;
        transform: scale(2);
    }

    .menu{
        display: none;
    }


    /*! Animazione hamburger menu telefono */

    #menu_burger{
        width: 70px;
        height: 70px;
        margin: 50px 30px 20px 30px;
        cursor: pointer;
    }
    .bar{
        height: 8px;
        width: 100%;
        background-color: white;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    #bar1{
        transform: translateY(-15px);
    }
    #bar3{
        transform: translateY(15px);
    }
    .nav li a{
        color: #fff;
        text-decoration: none;
    }
    .nav li a:hover{
        font-weight: bold;
        color: #FDE601;
    }
    .nav li{
        list-style: none;
        padding: 30px 0;
        font-size: 50px;
        text-align: right;
    }
    .nav{
        margin: 0 20px;
        transition: 0.3s ease;
        display: none;
    }
    .menu-bg, #menu-bar{
        top: 0;
        right: 0;
        position: absolute;
    }
    .menu-bg{
        z-index: 1;
        width: 0;
        height: 150vh;
        margin: 30px 0 20px 20px;
        background: #2a2a2e;
        transition: 0.3s ease;
    }
    #menu-bar_burger{
        z-index: 2;
        position: absolute;
        right: 40px;
        top: 10px;
    }
    .change-bg{
        width: 400px;
        height: 150vh;
        transform: translateY(-30%);
        position: fixed;
    }
    .change .bar{
        background-color: white;
        position: relative;
        top: -13px;
        right: -85px;
    }
    .change #bar1{
        transform: translate(0%, 15px) rotateZ(-45deg);
    }
    .change #bar3{
        transform: translateX(0%) rotate(45deg);
    }
    .change #bar2{
        opacity: 0;
        transform: translateX(0%)
    }
    .change{
        display: block;
    }


}



/*! Stile classi Home */

.logoCentrato{
    width: 50%;
    height: 200px;
    text-align: center;
    background: url("LogoSfondo.png") center center no-repeat;
    background-size: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.paginaAttiva{
    color: #FDE601;
}

.cool::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #FDE601;
    transition: width 0.3s;
    transform: translateY(10px);
}

.cool:hover::after{
    width: 100%;
    transition: width 0.3s;
}


/*! Hero Home */

#hero{
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}

#hero video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -150;
    object-fit: cover;
}

#hero .caption{
    position: relative;
    z-index: 20;
    text-align: center;
}

#hero::after{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

#hero .texture{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    background: url("texture.png");
}


.logoSfondo{
    background: url("LogoSfondo.png")  center center;
    width: 100%;
    min-height: 200px;
    max-width: 750px;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
}


/*! Sezione ricerca libro */

.cerca{
    width: 100%;
    text-align: center;
    transform: translateY(-30%);
    z-index: 3;
}

.barra_ricerca{
    display: block;
}

.input_codice{
    padding: 1em 15em;
    text-align: center;
    transform: translateY(-1%);
    border-radius: 5px;
    font-size: 13px;
}

.button{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #FDE601;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em 7em;
    color: #000000;
    font-size: 13px;
}


.linea_orizzontale{
    height: 1px;
    width: 90%;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
}

.bacheca{
    width: 100%;
    text-align: center;
    position: relative;
    z-index: -1;
}

.categorie{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.ricerca_2{
    transform: translateY(-50%);
}

.bottone_centrato{
    margin-top: 20px;
    margin-left: 45%;
}

.small-container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.filtra_per{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

/* Filtro categoria smartphone */

@media screen and (max-width: 1080px){

    .categorie{
        width: 80%;
    }

    .pagination{
        font-size: 30px;
    }

    .filtra_per{
        transform: scale(1.5);
    }


}


/* Elementi per ricerca */

.container{
    max-width: 1300px;
    margin: 25px auto auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 50%;
    padding: 10px;
    min-width: 300px;
    margin-bottom: 50px;
}

.col img{
    width: 100%;
}

.col-5{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-5 img{
    width: 100%;
}

.col-5 p{
    font-size: 18px;
}

.col-5:hover{
    transform: translateY(-5px);
}

/*! Bacheca smartphone */

@media screen and (max-width: 1080px){
    .row{
        display: block;
    }
    .col-5 img{
        width: 50%;
    }
}

/* Dettagli sul singolo libro */

.singolo-libro .col img{
    padding: 0;
}

.singolo-libro .col{
    padding: 20px;
}

.sezioneRicerca{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}


/* Footer */

.footer{
    width: 100%;
    height: 150px;
    background-color: #2a2a2e;
    text-align: center;
    padding: 10px;
    align-items: center;
    margin-top: 50px;
}

.social{
    margin-top: 20px;
}

.facebook{
    margin-right: 20px;
}

.twitter{
    margin-right: 20px;
}

.instagram{
}

.CopyrightEPrivacy{
    display: flex;
    text-align: center;
    width: 50%;
    margin: auto;
    transform: translateY(100%);
}

.copy{
    width: 50%;
    max-height: 30px;
    padding: 5px;
}

.privacy{
    width: 50%;
    max-height: 30px;
    padding: 5px;
}

/* Footer smartphone */

@media screen and (max-width: 1080px){

    .CopyrightEPrivacy{
        width: 60%;
    }

    .CopyrightEPrivacy h5{
        font-size: 25px;
    }

}

.barra{
    width: 1%;
    max-height: 30px;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin: auto;
}


/* Pagina contatti */

.contatti{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 70px;
    display: flex;
}

.contatti_content{
    width: 60%;
    margin: auto;
}

.freccie{
    width: 50%;
    height: 151.5px;
    text-align: center;
    background: url("freccie.png") center center no-repeat;
    background-size: 30%;
    margin-left: auto;
    margin-right: auto;
}

.titolo_contatti{
    font-size: 50px;
    font-weight: bold;
}

.descrizione_contatti{
    font-size: 20px;
}


.sezione_feedback{
    width: 90%;
    height: 500px;
    margin: auto auto 100px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #404040;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    background-color: #222;
}

input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffff00;
    color: black;
}

.container {
    border-radius: 5px;
    padding: 20px;
    width: 60%;
}

.tasto_submit{
    text-align: center;
}

/* About smartphone */

@media screen and (max-width: 1080px){

    .contatti{
        width: 100%;
    }

    .contatti_content{
        width: 100%;
    }

    .contatti_content h1{
        font-size: 80px;
    }

    .contatti_content h2{
        font-size: 27px;
    }

    .freccie{
        display: none;
    }

    .sezione_feedback .container{
        width: 100%;
    }

    .sezione_feedback .container p{
        font-size: 30px;
    }

    .sezione_feedback{
        height: 52vh;
    }


}


/* About */

.copertina_about{
    background: url("sfondoAbout.png");
    width: 100%;
    height: 300px;
    background-size: cover;
    text-align: center;
    padding: 50px;
}

.about{
    transform: translateY(50%);
    font-weight: normal;
    font-size: 40px;
}

.who{
    font-weight: bold;
    font-size: 60px;
}

.aboutUs{
    width: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.riga{
    display: flex;
    height: 400px;
    width: 100%;

}

.griglia{
    width: 75%;
    margin: 100px auto auto;
}

.elemento{
    width: 50%;
    padding: 30px;
    text-align: center;
}


/* About smartphone */

@media screen and (max-width: 1080px){

    .aboutUs{
        width: 80%;
    }

    .riga{
        display: inline-block;
    }

    .elemento{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .griglia h1{
        font-size: 50px;
    }

    .griglia p{
        font-size: 30px;
    }

    .copertina_about{
        transform: translateY(10%);
    }

}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    z-index: 2;
}
input {
    transform: translateY(-50%);
    border: 1px solid gray;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    width: 100%;
    border: 1px solid #404040;
}
input[type=submit] {
    color: black;
    border: 1px solid gray;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: #ffff00 !important;
    color: black;
}

/* Numerazione pagine */

.pagination{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40px;
    text-align: center;
}

.pagination a {
    color: white;
    padding: 4px 16px;
    text-decoration: none;
    transition: background-color .3s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pagination a.active {
    background-color: #ffff00;
    color: black;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


/* ROBA PER LA SELECT DELLE CATEGORIE */

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #ffff00;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #ffff00;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}









*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
}