html{background-color: #222}

body{font-family: 'Cairo', sans-serif;}

/*! Stili scritte */

a{
    text-decoration: none;

}

h1,h2,h3,h4,h5, p{color: black; padding-bottom: 20px; line-height: 1.4;}

.titoli{font-size: 60px; color: white; font-weight: bold;}
.sottotitoli{font-size: 30px; color: white; font-weight: lighter;}
.paragrafi{font-size: 20px; color: white;}

.giallo{color: #FDE601}
.bianco{color: white}
.grigio{color: gray}

.mt{margin-top: 10px}
.mt2{margin-top: 100px}

.centroTesto{text-align: center;}


/*! Barra Superiore */

.header{
    background: #2a2a2e;
    max-height: 65px;
}

.contenuto_header{
    width: 60%;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    align-items: center;
    display: block;
}

.logoCentrato{
    width: 50%;
    height: 200px;
    text-align: center;
    background: url("LogoSfondo.png") center center no-repeat;
    background-size: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    width: 100%;
    text-align: right;
}

.menu li{
    display: inline-block;
    color: gray;
}

.menu li a{padding: 15px; display: block;}

.paginaAttiva{
    color: #FDE601;
}

.cool::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #FDE601;
    transition: width 0.3s;
    transform: translateY(10px);
}

.cool:hover::after{
    width: 100%;
    transition: width 0.3s;
}



/*! Sfondo */

.background{
    height: 400px;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    background: url("sfondo.png")  center center;
    background-size: cover;
}

.logoSfondo{
    background: url("LogoSfondo.png")  center center;
    height: 500px;
    align-items: center;
    transform: translateY(-50%) scale(0.5);
}


/*! Sezione ricerca libro */

.cerca{
    width: 100%;
    text-align: center;
    transform: translateY(-125%);
}

.barra_ricerca{
    display: block;
}

.input_codice{
    padding: 1em 15em;
    text-align: center;
}

.button{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #FDE601;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em 7em;
    color: #000000;
    font-size: 13px;
}


.linea_orizzontale{
    height: 1px;
    width: 90%;
    background-color: gray;
    transform: translateY(-20000%);
    margin-left: auto;
    margin-right: auto;
}

.bacheca{
    width: 100%;
    text-align: center;
    transform: translateY(-20%);
}


/* Elementi per ricerca o per ultimi aggiunti */

.container{
    max-width: 1300px;
    margin: auto;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 50%;
    padding: 10px;
    min-width: 300px;
    margin-bottom: 50px;
}

.col img{
    width: 100%;
}

.col-5{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-5 img{
    width: 100%;
}

.col-5 p{
    font-size: 18px;
}

.col-5:hover{
    transform: translateY(-5px);
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Dettagli sul singolo libro */

.singolo-libro .col img{
    padding: 0;
}

.singolo-libro .col{
    padding: 20px;
}

.sezioneRicerca{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}


/* Sezione finale */

.sezioneFinale{
    width: 100%;
    height: 150px;
    background-color: #2a2a2e;
    text-align: center;
    padding: 10px;
    align-items: center;
    margin-top: 50px;
}

.social{
    margin-top: 20px;
}

.facebook{
    margin-right: 20px;
}

.twitter{
    margin-right: 20px;
}

.instagram{
}

.CopyrightEPrivacy{
    display: flex;
    text-align: center;
    width: 20%;
    margin: auto;
    transform: translateY(100%);
}

.copy{
    width: 100%;
    max-height: 30px;
    text-align: center;
    padding: 5px;
    align-items: center;
    margin: auto;
}

.privacy{
    width: 100%;
    max-height: 30px;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin: auto;
}

/* Barra */

.barra{
    width: 1%;
    max-height: 30px;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin: auto;
}


/* Pagina contatti */

.contatti{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 70px;
    display: flex;
}

.contatti_content{
    width: 60%;
    margin: auto;
}

.freccie{
    width: 50%;
    height: 151.5px;
    text-align: center;
    background: url("freccie.png") center center no-repeat;
    background-size: 30%;
    margin-left: auto;
    margin-right: auto;
}

.titolo_contatti{
    font-size: 50px;
    font-weight: bold;
}

.descrizione_contatti{
    font-size: 20px;
}


.sezione_feedback{
    width: 90%;
    height: 500px;
    margin: auto auto 100px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 6px; /* Some padding */
    border: 1px solid #404040;/* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #222;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ffff00;
    color: black;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
    width: 60%;
}

.tasto_submit{
    text-align: center;
}


/* About */

.copertina_about{
    background: url("sfondo.png");
    width: 100%;
    height: 300px;
    background-size: cover;
    text-align: center;
    padding: 50px;
}

.about{
    transform: translateY(50%);
    font-weight: normal;
    font-size: 40px;
}

.who{
    font-weight: bold;
    font-size: 60px;
}

.riga1{
    display: flex;
    height: 400px;
    width: 100%;
}

.riga2{
    display: flex;
    height: 400px;
    width: 100%;
}

.elemento1{
    border: 1px solid red;
    width: 50%;
    padding: 30px;
}

.elemento2{
    border: 1px solid red;
    width: 50%;
    padding: 30px;
}
.elemento3{
    border: 1px solid red;
    width: 50%;
    padding: 30px;
}
.elemento4{
    border: 1px solid red;
    width: 50%;
    padding: 30px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    z-index: 1;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: #ffff00;
    color: black;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #ffff00 !important;
    color: black;
}

/* Pagination links */
.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #ffff00;
    color: black;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
}
